In [1]:
import pandas
import sqlite3

In [2]:
connection = sqlite3.connect('nearby_stars.db')
c = connection.cursor()

## Add full MH08 age table to database

In [3]:
age_tab = pandas.read_csv('mh08_agetable.csv')
age_tab.to_sql('mh08_agetable', connection)

ValueError: Table 'mh08_agetable' already exists.

In [4]:
c.execute('PRAGMA table_info(mh08_agetable);')
c.fetchall()

[(0, u'index', u'INTEGER', 0, None, 0),
 (1, u'HD', u'INTEGER', 0, None, 0),
 (2, u'GJ', u'TEXT', 0, None, 0),
 (3, u'OName', u'TEXT', 0, None, 0),
 (4, u'l_tau1', u'TEXT', 0, None, 0),
 (5, u'tau1', u'REAL', 0, None, 0),
 (6, u'l_tau2', u'TEXT', 0, None, 0),
 (7, u'tau2', u'REAL', 0, None, 0)]

## Create ages table

Create table with primary key <tt>ageid</tt> (age measurement ID) and foreign key <tt>sid</tt> linking this table to the main <tt>stars_FGK_nobinaries</tt> table. Having a separation <tt>ageid</tt> allows this table to hold multiple age measurements per star if they exist.

In [30]:
c.execute('DROP TABLE ages')

In [31]:
create_table = '''
CREATE TABLE ages (
ageid INTEGER PRIMARY KEY AUTOINCREMENT,
age REAL,
age_err REAL,
bibcode TEXT,
sid INTEGER,
CONSTRAINT sid 
    FOREIGN KEY (sid)
    REFERENCES stars_FGK_nobinaries(sid)
)
'''

In [32]:
c.execute(create_table)

In [33]:
c.execute('PRAGMA table_info(ages);')
c.fetchall()

[(0, u'ageid', u'INTEGER', 0, None, 1),
 (1, u'age', u'REAL', 0, None, 0),
 (2, u'age_err', u'REAL', 0, None, 0),
 (3, u'bibcode', u'TEXT', 0, None, 0),
 (4, u'sid', u'INTEGER', 0, None, 0)]

## Create subquery connecting star in MH08 table to star in main simbad_FGK_nobinaries table

In [34]:
cmd = '''
SELECT stars_FGK_nobinaries.sid, mh08_agetable.OName, stars_FGK_nobinaries.main_id, 
'HD ' || mh08_agetable.hd, stars_FGK_nobinaries.hd, mh08_agetable.gj, LTRIM(LTRIM(stars_FGK_nobinaries.GJ,'GJ'))
FROM mh08_agetable
    INNER JOIN stars_FGK_nobinaries 
    ON LTRIM(LTRIM(stars_FGK_nobinaries.hd,'HD')) LIKE mh08_agetable.hd
    OR LTRIM(LTRIM(stars_FGK_nobinaries.GJ,'GJ')) LIKE mh08_agetable.gj
'''
c.execute(cmd)
rows = c.fetchall()
print len(rows)
for row in rows:
    print row

39
(0, u'epsilon Eri', u'* eps Eri', u'HD 22049', u'HD  22049', u'144', u'144')
(1, u'tau Cet', u'* tau Cet', u'HD 10700', u'HD  10700', u'71', u'71')
(2, u'82 Eri', u'* e Eri', u'HD 20794', u'HD  20794', u'139', u'139')
(3, u'delta Pav', u'* del Pav', u'HD 190248', u'HD 190248', u'780', u'780')
(8, u'61 Vir', u'*  61 Vir', u'HD 115617', u'HD 115617', u'506', u'506')
(9, u'zeta Tuc', u'* zet Tuc', u'HD 1581', u'HD   1581', u'17', u'17')
(10, u'HR 7722', u'HD 192310', u'HD 192310', u'HD 192310', u'785', u'785')
(13, u'CF UMa', u'HD 103095', u'HD 103095', u'HD 103095', u'451A', u'451')
(18, u'alpha Men', u'* alf Men', u'HD 43834', u'HD  43834', u'231', u'231')
(20, u'HR 6806', u'HD 166620', u'HD 166620', u'HD 166620', u'706', u'706')
(21, u'54 Psc', u'*  54 Psc', u'HD 3651', u'HD   3651', u'27A', u'27')
(27, u'HR 3384', u'HD  72673', u'HD 72673', u'HD  72673', u'309', u'309')
(30, u'HR 3259', u'HD  69830', u'HD 69830', u'HD  69830', u'302', u'302')
(36, u'HR 683', u'HD  14412', u'HD 14412', u'HD  14412', u'95', u'95')
(35, u'HR 6518', u'HD 158633', u'HD 158633', u'HD 158633', u'675', u'675')
(31, u'HR 4587', u'HD 104304', u'HD 104304', u'HD 104304', u'454', u'454')
(40, u'NLTT 46596', u'HD 170657', u'HD 170657', u'HD 170657', u'716', u'716')
(42, u'58 Eri', u'*  58 Eri', u'HD 30495', u'HD  30495', u'177', u'177')
(49, u'NLTT 44221', u'HD 154577', u'HD 154577', u'HD 154577', u'656', u'656')
(53, u'10 Tau', u'*  10 Tau', u'HD 22484', u'HD  22484', u'147', u'147')
(48, u'LHS 413', u'HD 145417', u'HD 145417', u'HD 145417', u'615', u'615')
(50, u'47 UMa', u'*  47 UMa', u'HD 95128', u'HD  95128', u'407', u'407')
(60, u'3 UMa', u'V* pi.01 UMa', u'HD 72905', u'HD  72905', u'311', u'311')
(72, u'NLTT 42064', u'HD 144628', u'HD 144628', u'HD 144628', u'613', u'613')
(66, u'nu22 Lup', u'* nu.02 Lup', u'HD 136352', u'HD 136352', u'582', u'582')
(63, u'NLTT 17311', u'HD  52698', u'HD 52698', u'HD  52698', u'259', u'259')
(64, u'HR 7898', u'HD 196761', u'HD 196761', u'HD 196761', u'796', u'796')
(70, u'NLTT 51629', u'HD 205390', u'HD 205390', u'HD 205390', u'833', u'833')
(78, u'nu Phe', u'* nu. Phe', u'HD 7570', u'HD   7570', u'55', u'55')
(83, u'mu Ara', u'* mu. Ara', u'HD 160691', u'HD 160691', u'691', u'691')
(81, u'51 Peg', u'*  51 Peg', u'HD 217014', u'HD 217014', u'882', u'882')
(90, u'V1386 Ori', u'V* V1386 Ori', u'HD 41593', u'HD  41593', u'227', u'227')
(96, u'19 Cet', u'* phi02 Cet', u'HD 4813', u'HD   4813', u'37', u'37')
(79, u'HR 2007', u'HD  38858', u'HD 38858', u'HD  38858', u'1085', u'1085')
(94, u'V739 Ser', u'HD 135599', u'HD 135599', u'HD 135599', u'...', None)
(84, u'LHS 481', u'HD 190404', u'HD 190404', u'HD 190404', u'778', u'778')
(85, u'tau Boo', u'* tau Boo', u'HD 120136', u'HD 120136', u'527A', u'527')
(88, u'NLTT 34858', u'HD 118972', u'HD 118972', u'HD 118972', u'1175', u'1175')
(95, u'chi Her', u'* chi Her', u'HD 142373', u'HD 142373', u'602', u'602')

39 is the same number of stars I found when querying Simbad with the MH08 sample list and eliminating binaries in the same way I did to create stars_FGK_nobinaries, so this cross match catches all of them!

Now check query to get the columns that I actually want to put in the ages table.

NOTES
- Sec 4.4 states that tau2 are the preferred ages and that the conservative error is 50%, so I will directly put the error in now.
- Found bibcode using ADS: 2008ApJ...687.1264M

In [35]:
cmd = '''
SELECT mh08_agetable.tau2, 0.5*mh08_agetable.tau2, '2008ApJ...687.1264M', stars_FGK_nobinaries.sid
FROM mh08_agetable
    INNER JOIN stars_FGK_nobinaries 
    ON LTRIM(LTRIM(stars_FGK_nobinaries.hd,'HD')) LIKE mh08_agetable.hd
    OR LTRIM(LTRIM(stars_FGK_nobinaries.GJ,'GJ')) LIKE mh08_agetable.gj
'''
c.execute(cmd)
rows = c.fetchall()
print len(rows)
for row in rows:
    print row

39
(0.8, 0.4, u'2008ApJ...687.1264M', 0)
(5.8, 2.9, u'2008ApJ...687.1264M', 1)
(6.1, 3.05, u'2008ApJ...687.1264M', 2)
(6.9, 3.45, u'2008ApJ...687.1264M', 3)
(6.1, 3.05, u'2008ApJ...687.1264M', 8)
(2.1, 1.05, u'2008ApJ...687.1264M', 9)
(8.9, 4.45, u'2008ApJ...687.1264M', 10)
(5.3, 2.65, u'2008ApJ...687.1264M', 13)
(5.5, 2.75, u'2008ApJ...687.1264M', 18)
(7.1, 3.55, u'2008ApJ...687.1264M', 20)
(7.7, 3.85, u'2008ApJ...687.1264M', 21)
(6.5, 3.25, u'2008ApJ...687.1264M', 27)
(6.1, 3.05, u'2008ApJ...687.1264M', 30)
(4.3, 2.15, u'2008ApJ...687.1264M', 36)
(5.9, 2.95, u'2008ApJ...687.1264M', 35)
(5.9, 2.95, u'2008ApJ...687.1264M', 31)
(2.6, 1.3, u'2008ApJ...687.1264M', 40)
(0.6, 0.3, u'2008ApJ...687.1264M', 42)
(4.8, 2.4, u'2008ApJ...687.1264M', 49)
(4.2, 2.1, u'2008ApJ...687.1264M', 53)
(8.8, 4.4, u'2008ApJ...687.1264M', 48)
(4.4, 2.2, u'2008ApJ...687.1264M', 50)
(0.2, 0.1, u'2008ApJ...687.1264M', 60)
(6.8, 3.4, u'2008ApJ...687.1264M', 72)
(3.6, 1.8, u'2008ApJ...687.1264M', 66)
(2.5, 1.25, u'2008ApJ...687.1264M', 63)
(5.2, 2.6, u'2008ApJ...687.1264M', 64)
(1.4, 0.7, u'2008ApJ...687.1264M', 70)
(2.8, 1.4, u'2008ApJ...687.1264M', 78)
(6.5, 3.25, u'2008ApJ...687.1264M', 83)
(6.1, 3.05, u'2008ApJ...687.1264M', 81)
(0.6, 0.3, u'2008ApJ...687.1264M', 90)
(1.7, 0.85, u'2008ApJ...687.1264M', 96)
(3.2, 1.6, u'2008ApJ...687.1264M', 79)
(1.3, 0.65, u'2008ApJ...687.1264M', 94)
(7.3, 3.65, u'2008ApJ...687.1264M', 84)
(1.6, 0.8, u'2008ApJ...687.1264M', 85)
(0.4, 0.2, u'2008ApJ...687.1264M', 88)
(4.4, 2.2, u'2008ApJ...687.1264M', 95)

## Add rows to the ages table

In [36]:
cmd = '''
INSERT INTO ages (age, age_err, bibcode, sid)
SELECT mh08_agetable.tau2, 0.5*mh08_agetable.tau2, '2008ApJ...687.1264M', stars_FGK_nobinaries.sid
FROM mh08_agetable
    INNER JOIN stars_FGK_nobinaries 
    ON LTRIM(LTRIM(stars_FGK_nobinaries.hd,'HD')) LIKE mh08_agetable.hd
    OR LTRIM(LTRIM(stars_FGK_nobinaries.GJ,'GJ')) LIKE mh08_agetable.gj
'''
c.execute(cmd)

Check result!

In [37]:
cmd = '''
SELECT * FROM ages
'''
c.execute(cmd)
c.fetchall()

[(1, 0.8, 0.4, u'2008ApJ...687.1264M', 0),
 (2, 5.8, 2.9, u'2008ApJ...687.1264M', 1),
 (3, 6.1, 3.05, u'2008ApJ...687.1264M', 2),
 (4, 6.9, 3.45, u'2008ApJ...687.1264M', 3),
 (5, 6.1, 3.05, u'2008ApJ...687.1264M', 8),
 (6, 2.1, 1.05, u'2008ApJ...687.1264M', 9),
 (7, 8.9, 4.45, u'2008ApJ...687.1264M', 10),
 (8, 5.3, 2.65, u'2008ApJ...687.1264M', 13),
 (9, 5.5, 2.75, u'2008ApJ...687.1264M', 18),
 (10, 7.1, 3.55, u'2008ApJ...687.1264M', 20),
 (11, 7.7, 3.85, u'2008ApJ...687.1264M', 21),
 (12, 6.5, 3.25, u'2008ApJ...687.1264M', 27),
 (13, 6.1, 3.05, u'2008ApJ...687.1264M', 30),
 (14, 4.3, 2.15, u'2008ApJ...687.1264M', 36),
 (15, 5.9, 2.95, u'2008ApJ...687.1264M', 35),
 (16, 5.9, 2.95, u'2008ApJ...687.1264M', 31),
 (17, 2.6, 1.3, u'2008ApJ...687.1264M', 40),
 (18, 0.6, 0.3, u'2008ApJ...687.1264M', 42),
 (19, 4.8, 2.4, u'2008ApJ...687.1264M', 49),
 (20, 4.2, 2.1, u'2008ApJ...687.1264M', 53),
 (21, 8.8, 4.4, u'2008ApJ...687.1264M', 48),
 (22, 4.4, 2.2, u'2008ApJ...687.1264M', 50),
 (23, 0.2, 0.1, u'2008ApJ...687.1264M', 60),
 (24, 6.8, 3.4, u'2008ApJ...687.1264M', 72),
 (25, 3.6, 1.8, u'2008ApJ...687.1264M', 66),
 (26, 2.5, 1.25, u'2008ApJ...687.1264M', 63),
 (27, 5.2, 2.6, u'2008ApJ...687.1264M', 64),
 (28, 1.4, 0.7, u'2008ApJ...687.1264M', 70),
 (29, 2.8, 1.4, u'2008ApJ...687.1264M', 78),
 (30, 6.5, 3.25, u'2008ApJ...687.1264M', 83),
 (31, 6.1, 3.05, u'2008ApJ...687.1264M', 81),
 (32, 0.6, 0.3, u'2008ApJ...687.1264M', 90),
 (33, 1.7, 0.85, u'2008ApJ...687.1264M', 96),
 (34, 3.2, 1.6, u'2008ApJ...687.1264M', 79),
 (35, 1.3, 0.65, u'2008ApJ...687.1264M', 94),
 (36, 7.3, 3.65, u'2008ApJ...687.1264M', 84),
 (37, 1.6, 0.8, u'2008ApJ...687.1264M', 85),
 (38, 0.4, 0.2, u'2008ApJ...687.1264M', 88),
 (39, 4.4, 2.2, u'2008ApJ...687.1264M', 95)]

In [38]:
cmd = '''
SELECT s.main_id, a.age, a.age_err 
FROM stars_FGK_nobinaries AS s
INNER JOIN ages AS a ON a.sid = s.sid
'''
c.execute(cmd)
rows = c.fetchall()
print len(rows)
for row in rows:
    print row

39
(u'* eps Eri', 0.8, 0.4)
(u'* tau Cet', 5.8, 2.9)
(u'* e Eri', 6.1, 3.05)
(u'* del Pav', 6.9, 3.45)
(u'*  61 Vir', 6.1, 3.05)
(u'* zet Tuc', 2.1, 1.05)
(u'HD 192310', 8.9, 4.45)
(u'HD 103095', 5.3, 2.65)
(u'* alf Men', 5.5, 2.75)
(u'HD 166620', 7.1, 3.55)
(u'*  54 Psc', 7.7, 3.85)
(u'HD  72673', 6.5, 3.25)
(u'HD  69830', 6.1, 3.05)
(u'HD  14412', 4.3, 2.15)
(u'HD 158633', 5.9, 2.95)
(u'HD 104304', 5.9, 2.95)
(u'HD 170657', 2.6, 1.3)
(u'*  58 Eri', 0.6, 0.3)
(u'HD 154577', 4.8, 2.4)
(u'*  10 Tau', 4.2, 2.1)
(u'HD 145417', 8.8, 4.4)
(u'*  47 UMa', 4.4, 2.2)
(u'V* pi.01 UMa', 0.2, 0.1)
(u'HD 144628', 6.8, 3.4)
(u'* nu.02 Lup', 3.6, 1.8)
(u'HD  52698', 2.5, 1.25)
(u'HD 196761', 5.2, 2.6)
(u'HD 205390', 1.4, 0.7)
(u'* nu. Phe', 2.8, 1.4)
(u'* mu. Ara', 6.5, 3.25)
(u'*  51 Peg', 6.1, 3.05)
(u'V* V1386 Ori', 0.6, 0.3)
(u'* phi02 Cet', 1.7, 0.85)
(u'HD  38858', 3.2, 1.6)
(u'HD 135599', 1.3, 0.65)
(u'HD 190404', 7.3, 3.65)
(u'* tau Boo', 1.6, 0.8)
(u'HD 118972', 0.4, 0.2)
(u'* chi Her', 4.4, 2.2)

## Check with stars are missing from the MH08 sample

Sample should (!) be complete within 16 pc for stars with spectral types F7-K2 (0.5 < B-V < 0.9). Is this the case or are there many stars in the <tt>stars_FGK_nobinaries</tt> table that fit these criteria but do not have ages reported in MH08?

In [12]:
cmd = '''
SELECT s.main_id, 1/(s.plx_value*1e-3) as d, s.sp_type, s.wds
FROM stars_FGK_nobinaries AS s
LEFT OUTER JOIN ages AS a ON a.sid = s.sid
WHERE d < 16
AND a.ageid IS NULL
AND s.sp_type LIKE '%K%'
'''
c.execute(cmd)
rows = c.fetchall()
print len(rows)
for row in rows:
    print row

52
(u'HD 219134', 6.5324978704056935, u'K3V', u'WDS J23133+5710A')
(u'HD 157881', 7.714674313451846, u'K7V', None)
(u'HD 217357', 8.231008183268337, u'K7+Vk', None)
(u'HD  32147', 8.84770968187175, u'K3+V', None)
(u'* del Eri', 9.040773890245005, u'K0+IV', None)
(u'HD 151288', 9.85109090980735, u'K7.5Ve', None)
(u'HD 122064', 10.077749840015722, u'K3V', None)
(u'HD 103932', 10.184253514585889, u'K4+V', None)
(u'BD+36  2393', 10.958675928939561, u'K7.5Ve', None)
(u'HD  74576', 11.18603267216423, u'K3V', None)
(u'HD  85512', 11.284669325334761, u'K6Vk:', None)
(u'V* V2689 Ori', 11.436845169133784, u'K6V', None)
(u'HD 222237', 11.450740061330162, u'K3+V', None)
(u'HD 125072', 11.840835489352129, u'K3IV', None)
(u'HD 196877', 12.327416173570018, u'K7V', None)
(u'HD  21531', 12.493753123438278, u'K5V', None)
(u'HD 190007', 12.718795072230035, u'K5V', None)
(u'HD 101581', 12.782819890067747, u'K4.5Vk:', None)
(u'HD  82106', 12.782983292640836, u'K3V', None)
(u'HD  40307', 12.941181038063895, u'K2.5V', None)
(u'HD  27274', 13.057438365626554, u'K4.5Vk:', None)
(u'HD 211970', 13.132648947221195, u'K7Vk:', None)
(u'HD  29697', 13.238107215430336, u'K4V', None)
(u'HD 128165', 13.243384267389224, u'K3', None)
(u'HD 214749', 13.287270794578792, u'K4.5Vk', None)
(u'BD+62   780', 13.513878753479823, u'K7V', None)
(u'HD  10436', 13.515102451234132, u'K5Vbe', None)
(u'HD  22496', 13.60092703918699, u'K5/M0V', None)
(u'HD 281621', 13.925055352095024, u'K7V', None)
(u'HD  23356', 13.95502017895918, u'K2V', None)
(u'HD   5133', 13.976787351566518, u'K2.5Vk:', None)
(u'HD 120467', 14.060762177674603, u'K6Va', None)
(u'HD 110315', 14.106481363927472, u'K4.5V', None)
(u'HD 150689', 14.210278009878984, u'K3V', None)
(u'HD 234078', 14.248891080051697, u'K7V', None)
(u'HD 173818', 14.256630758965997, u'K5V', None)
(u'BD-08  2582', 14.51640062943113, u'K7V', None)
(u'BD+30  2512', 14.522050281146894, u'K6V', None)
(u'BD+40    45', 14.698295438677976, u'K7', None)
(u'HD 142709', 14.73198830280129, u'K4V', None)
(u'BD+33   529', 14.763089324071954, u'K4', None)
(u'HD 218511', 14.837675826458543, u'K6V', None)
(u'BD+63   137', 15.067706740237256, u'K7V', None)
(u'HD 118926', 15.076839110526802, u'K5V', None)
(u'HD  21197', 15.351032049884715, u'K4V', None)
(u'HD 139763', 15.569945645319752, u'K6Vk', None)
(u'HD 152705', 15.688464742528758, u'K3/4V', None)
(u'HD 213042', 15.692773164102466, u'K4V', None)
(u'BD-07   699', 15.69713323255774, u'K5V', None)
(u'HD 203040', 15.785494078071897, u'K6.5Vk', None)
(u'BD+41  2695', 15.786241658944565, u'K5V', None)
(u'HD 191391', 15.80243167818664, u'K6Vk', None)

Stars in simbad table and not in MH08, but still in the F7 - K2 spectral type range:
- (u'HD  84117', 14.821555878006736, u'F9V', None): B - V = 5.47 - 4.94 = 0.53 (edge of range?)
- (u'\* gam Pav', 9.261831990367694, u'F9VFe-1.4CH-0.7', None): B-V just outside range
- (u'\* bet Hyi', 7.458790184232118, u'G0V', None): B-V = 0.62? so not sure why this is excluded.
- (u'\* del Eri', 9.040773890245005, u'K0+IV', None): B-V just outside range
- (u'HD  23356', 13.95502017895918, u'K2V', None): B-V just outside range

For stars that I'm not sure about (HD 84117 and \* bet Hyi), I checked B-V using the references listed in Table 13 (#1/2) of MH08 and found consist results with what Simbad reports for B/V magnitudes.

Also checked spectral types with some of the references in Table 13 (#8/11) of MH08 and also found consistent results. So I'm not sure off-hand why these were excluded from the MH08 sample.

In [39]:
connection.commit()

In [40]:
connection.close()