In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect('nearby_stars.db')

In [3]:
c = connection.cursor()

## Get table information

In [4]:
c.execute('PRAGMA table_info(stars_simbad);')
c.fetchall()

[(0, u'id', u'INTEGER', 0, None, 1),
 (1, u'main_id', u'TEXT', 0, None, 0),
 (2, u'hd', u'TEXT', 0, None, 0),
 (3, u'gj', u'TEXT', 0, None, 0),
 (4, u'wds', u'TEXT', 0, None, 0),
 (5, u'ra', u'TEXT', 0, None, 0),
 (6, u'dec', u'TEXT', 0, None, 0),
 (7, u'plx', u'REAL', 0, None, 0),
 (8, u'plx_err', u'REAL', 0, None, 0),
 (9, u'sptype', u'TEXT', 0, None, 0),
 (10, u'V_mag', u'REAL', 0, None, 0),
 (11, u'V_mag_err', u'REAL', 0, None, 0),
 (12, u'G_mag', u'REAL', 0, None, 0),
 (13, u'G_mag_err', u'REAL', 0, None, 0)]

"PRAGMA schema.table_info(table-name);

This pragma returns one row for each column in the named table. Columns in the result set include the column name, data type, whether or not the column can be NULL, and the default value for the column. The "pk" column in the result set is zero for columns that are not part of the primary key, and is the index of the column in the primary key for columns that are part of the primary key."

From: https://www.sqlite.org/pragma.html

## Example SQL queries on the nearby_stars database

The full stars_simbad table.

In [32]:
c.execute('SELECT * FROM stars_simbad')
rows = c.fetchall()
print len(rows)
print
for row in rows[0:10]:
    print row
    
c.description

452

(1, u'*  61 Cyg B', u'HD 201092', u'GJ 820 B', u'WDS J21069+3845B', u'21 06 55.2640', u'+38 44 31.362', 286.1457, 0.059, u'K7V', 6.03000020981, None, 5.4236998558, 0.00150000001304)
(2, u'*  61 Cyg A', u'HD 201091', u'GJ 820 A', u'WDS J21069+3845A', u'21 06 53.9396', u'+38 44 57.897', 285.9459, 0.1008, u'K5V', 5.21000003815, None, 4.71649980545, 0.00260000000708)
(3, u'BD+40  4631', None, u'GJ 836.8', None, u'21 44 29.9616', u'+41 35 50.862', 50.4206, 0.0281, u'K8V', 9.67399978638, 0.019999999553, 9.03890037537, 0.000399999989895)
(4, u'BD+45  4378', None, u'GJ 913', None, u'23 58 43.4881', u'+46 43 44.737', 58.4067, 0.8984, u'K7V', 9.61999988556, None, 8.87279987335, 0.000500000023749)
(5, u'HD 200560', u'HD 200560', u'GJ 9717 A', u'WDS J21028+4551CD', u'21 02 40.7539', u'+45 53 05.165', 51.3456, 0.0324, u'K2.5V', 7.67999982834, None, 7.4156999588, 0.000300000014249)
(6, u'HD 219134', u'HD 219134', u'GJ 892', u'WDS J23133+5710A', u'23 13 16.9747', u'+57 10 06.076', 153.0808, 0.0895, u'K3V', 5.57000017166, 0.00899999961257, 5.2079000473, 0.00159999995958)
(7, u'* eta Cas B', u'HD 4614B', u'GJ 34 B', u'WDS J00491+5749B', u'00 49 05.1920', u'+57 49 04.170', 168.7521, 0.0377, u'K7Ve', 7.51000022888, None, 6.75470018387, 0.000399999989895)
(8, u'* tet Per', u'HD 16895', u'GJ 107 A', u'WDS J02442+4914A', u'02 44 11.9870', u'+49 13 42.411', 89.87, 0.22, u'F8V', 4.11000013351, 0.0500000007451, 3.89170002937, 0.00400000018999)
(9, u'HD 221354', u'HD 221354', u'GJ 895.4', None, u'23 31 22.2087', u'+59 09 55.866', 59.2528, 0.031, u'K0V', 6.73999977112, None, 6.52139997482, 0.000199999994948)
(10, u'* bet Cas', u'HD 432', u'GJ 8', u'WDS J00092+5909A', u'00 09 10.6851', u'+59 08 59.212', 59.58, 0.38, u'F2III', 2.26999998093, None, None, None)

(('id', None, None, None, None, None, None),
 ('main_id', None, None, None, None, None, None),
 ('hd', None, None, None, None, None, None),
 ('gj', None, None, None, None, None, None),
 ('wds', None, None, None, None, None, None),
 ('ra', None, None, None, None, None, None),
 ('dec', None, None, None, None, None, None),
 ('plx', None, None, None, None, None, None),
 ('plx_err', None, None, None, None, None, None),
 ('sptype', None, None, None, None, None, None),
 ('V_mag', None, None, None, None, None, None),
 ('V_mag_err', None, None, None, None, None, None),
 ('G_mag', None, None, None, None, None, None),
 ('G_mag_err', None, None, None, None, None, None))

Stars in the WDS.

In [21]:
cmd = '''
SELECT main_id,hd,gj,wds FROM stars_simbad
WHERE wds NOT NULL
'''

c.execute(cmd)
rows = c.fetchall()
print len(rows)
print
for row in rows[0:10]:
    print row

221

(u'*  61 Cyg B', u'HD 201092', u'GJ 820 B', u'WDS J21069+3845B')
(u'*  61 Cyg A', u'HD 201091', u'GJ 820 A', u'WDS J21069+3845A')
(u'HD 200560', u'HD 200560', u'GJ 9717 A', u'WDS J21028+4551CD')
(u'HD 219134', u'HD 219134', u'GJ 892', u'WDS J23133+5710A')
(u'* eta Cas B', u'HD 4614B', u'GJ 34 B', u'WDS J00491+5749B')
(u'* tet Per', u'HD 16895', u'GJ 107 A', u'WDS J02442+4914A')
(u'* bet Cas', u'HD 432', u'GJ 8', u'WDS J00092+5909A')
(u'* iot Per', u'HD 19373', u'GJ 124', u'WDS J03091+4937A')
(u'HD  10780', u'HD 10780', u'GJ 75', u'WDS J01477+6351A')
(u'* tet Cyg', u'HD 185395', u'GJ 765 A', u'WDS J19364+5013AB')

Stars for which GJ/HD do not end in A/B/C but do have an entry in WDS.

In [6]:
cmd = '''
SELECT main_id,hd,gj,wds FROM stars_simbad
WHERE (main_id NOT LIKE '%A' AND main_id NOT LIKE '%B' AND main_id NOT LIKE '%C' AND main_id NOT LIKE '%D') AND 
  (hd NOT LIKE '%A' AND hd NOT LIKE '%B' AND hd NOT LIKE '%C' AND hd NOT LIKE '%D') AND
  (gj NOT LIKE '%A' AND gj NOT LIKE '%B' AND hd NOT LIKE '%C' AND hd NOT LIKE '%D')
ORDER BY plx DESC
'''

c.execute(cmd)
rows = c.fetchall()
print len(rows)
print
for row in rows[0:10]:
    print row

242

(u'* eps Eri', u'HD 22049', u'GJ 144.0', u'WDS J03329-0927A')
(u'* tau Cet', u'HD 10700', u'GJ 71.0', u'WDS J01441-1556A')
(u'HD  88230', u'HD 88230', u'GJ 380', u'WDS J10114+4927A')
(u'*  70 Oph', u'HD 165341', u'GJ 702', u'WDS J18055+0230AB')
(u'V* V2215 Oph', u'HD 156026', u'GJ 664', None)
(u'* e Eri', u'HD 20794', u'GJ 139', None)
(u'* del Pav', u'HD 190248', u'GJ 780', None)
(u'HD 219134', u'HD 219134', u'GJ 892', u'WDS J23133+5710A')
(u'* ksi Boo', u'HD 131156', u'GJ 566', u'WDS J14514+1906AB')
(u'HD   4628', u'HD 4628', u'GJ 33', u'WDS J00484+0517A')

## Close connection when finished

In [23]:
connection.close